<%- include('partials/header') %>

<!-- log out button -->
<div class="card-body">
    <a class="btn btn-secondary btn-sm" href='/logout' role="button">
        Log Out
    </a>
</div>

<!-- button to navigate to image gallery -->
<div class="card-body">
    <a class="btn btn-secondary btn-sm" href='/image/gallery' role="button">
        Image Gallery
    </a>
</div>


<!-- upload image -->
<input enctype="multipart/form-data" type="file" id="inputImage" name="image">
<div>
    <img src="" id="croppedImage">
</div>

<!-- download the cropped image -->
<button id="downloadButton">Download</button>


<script>

    // use cropper to get the coordinates of the image
    const input = document.getElementById('inputImage');
    const cropper = new Cropper(document.getElementById('croppedImage'), {
        aspectRatio: 1, 
        viewMode: 1,
        zoomable: false,
        crop(event) {
            // retrive the coordinates
            const { x, y, width, height } = event.detail;
        },
    });

    input.addEventListener('change', (e) => {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = (event) => {
                cropper.replace(event.target.result);
            };
            reader.readAsDataURL(file);
        }
    });

    // download the cropped image on click of Download button
    document.getElementById('downloadButton').addEventListener('click', async () => {
        const a = document.createElement('a');
        a.href = cropper.getCroppedCanvas().toDataURL('image/jpeg')
        a.download = new Date().getTime();
        a.click()

        // uncomment to get redirected to the '/gallery' route after downloading image
        // await new Promise((resolve) => setTimeout(resolve, 2000));
        // window.location.href = '/image/gallery';
    });
</script>