<%- include('partials/header') %>

<div class="col-sm-4 google-login-container">
    <div class="card login-body">
        <div class="card-body">
            <h2 class="login-heading">Welcome to ImageEditor!</h2>
            <br>
            <p class="login-desc">Crop, Save, Download and get acces to image gallery.</p>
            <p class="login-desc">Everything in just one place!</p>
            <br>

            <a class="btn btn-block btn-social btn-google" href='/auth/google' role="button">
                <i class="fab fa-google"></i>
                LogIn with Google
            </a>
        </div>
    </div>
</div>
